
body{
  background-color: #235454;
  background: linear-gradient( to left top, #235454, #13efc3);
  min-height:100vh;
  align-items: center;
  margin= 0;
  padding= 0;
}
.clock{
  width: 20rem;
  height: 20rem;
  border: 15px solid #fff;
  border-radius: 50%;
  position: absolute;
  padding: 2rem;
  margin: auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.clock-face{
  position: relative;
  width: 100%;
  height: 100%;
}

.hand{
 background-color: #05212b;
 border-radius: 30%;
 height: 6px;
 width: 50%;
 position: absolute;
 top: 50%;
 transform-origin: 100%;/*default is 50%, it would spin around its midpoint*/
 transform:rotate(90deg);/*from horizontal to vertical*/
 transition: all 0.05s;
 transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.second-hand{
  height: 4px;
}
